.grid {
  margin-top:-3px;
  display: inline-block;
  height: 40px;
  width: 40px;
  background: lightgray;
  border: 1px solid white;
  cursor: pointer;
}

.grid:hover {
  background: lightyellow;
}

.red, .red:hover {
  border-radius: 50%;
  background: red;
}

.black, .black:hover {
  border-radius: 50%;
  background: black;
}